tests/wsc/src/test/resources/config/security/decrypt.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
            http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8089"/>
    <cxf:configuration name="CXF_Configuration" enableMuleSoapHeaders="true" initializeStaticBusInstance="true"/>

    <wsc:config name="config">
        <wsc:connection wsdlLocation="http://localhost:8089/decrypt?wsdl" service="TestService" port="TestPort">
            <tls:context>
                <tls:key-store path="security/ssltest-keystore.jks" keyPassword="changeit" password="changeit" alias="s1as" type="jks" />
            </tls:context>
            <wsc:security-strategies>
                <wsc:wss-decrypt-security-strategy/>
            </wsc:security-strategies>
            <reconnect blocking="false"/>
        </wsc:connection>
    </wsc:config>

    <flow name="successOperation">
        <wsc:consume config-ref="config" operation="echo">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
    </flow>

    <flow name="decrypt">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/decrypt"/>
        <cxf:jaxws-service configuration-ref="CXF_Configuration" serviceClass="org.mule.extension.ws.consumer.SimpleService">
            <cxf:outInterceptors>
                <spring:bean class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
                    <spring:constructor-arg>
                        <spring:map>
                            <spring:entry key="action" value="Encrypt" />
                            <spring:entry key="encryptionUser" value="s1as" />
                            <spring:entry key="encryptionPropRefId" value="securityProperties" />
                            <spring:entry key="securityProperties">
                                <spring:props>
                                    <spring:prop key="org.apache.ws.security.crypto.merlin.truststore.type">jks</spring:prop>
                                    <spring:prop key="org.apache.ws.security.crypto.merlin.truststore.password">changeit</spring:prop>
                                    <spring:prop key="org.apache.ws.security.crypto.merlin.truststore.file">security/ssltest-cacerts.jks</spring:prop>
                                </spring:props>
                            </spring:entry>
                        </spring:map>
                    </spring:constructor-arg>
                </spring:bean>
            </cxf:outInterceptors>
        </cxf:jaxws-service>
        <component class="org.mule.extension.ws.consumer.SimpleService"/>
    </flow>
</mule>
