tests/wsc/src/test/resources/config/security/usernameToken.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
            http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8089"/>
    <cxf:configuration name="CXF_Configuration" enableMuleSoapHeaders="true" initializeStaticBusInstance="true"/>

    <wsc:config name="config">
        <wsc:connection wsdlLocation="http://localhost:8089/usernameToken?wsdl" service="TestService" port="TestPort">
            <wsc:security-strategies>
                <wsc:wss-username-token-security-strategy username="admin" password="textPassword" passwordType="TEXT"
                                                          addCreated="true" addNonce="true"/>
            </wsc:security-strategies>
            <reconnect blocking="false"/>
        </wsc:connection>
    </wsc:config>

    <flow name="successOperation">
        <wsc:consume config-ref="config" operation="echo">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
    </flow>

    <flow name="usernameToken">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/usernameToken"/>
        <cxf:jaxws-service configuration-ref="CXF_Configuration" serviceClass="org.mule.extension.ws.consumer.SimpleService">
            <cxf:ws-security>
                <cxf:ws-config>
                    <cxf:property key="action" value="UsernameToken"/>
                    <cxf:property key="passwordCallbackClass"
                                  value="org.mule.extension.ws.consumer.ServerPasswordCallback"/>
                </cxf:ws-config>
            </cxf:ws-security>
        </cxf:jaxws-service>
        <component class="org.mule.extension.ws.consumer.SimpleService"/>
    </flow>
</mule>
