tests/wsc/src/test/resources/config/security/verifySignature.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
            http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8089"/>
    <cxf:configuration name="CXF_Configuration" enableMuleSoapHeaders="true" initializeStaticBusInstance="true"/>

    <wsc:config name="config">
        <wsc:connection wsdlLocation="http://localhost:8089/verifySignature?wsdl" service="TestService" port="TestPort">
            <tls:context>
                <tls:trust-store path="security/trustStore" password="mulepassword" type="jks"/>
            </tls:context>
            <wsc:security-strategies>
                <wsc:wss-verify-signature-security-strategy/>
            </wsc:security-strategies>
            <reconnect blocking="false"/>
        </wsc:connection>
    </wsc:config>

    <flow name="successOperation">
        <wsc:consume config-ref="config" operation="echo">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
    </flow>

    <flow name="verifySignature">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/verifySignature"/>
        <cxf:jaxws-service configuration-ref="CXF_Configuration" serviceClass="org.mule.extension.ws.consumer.SimpleService">
            <cxf:outInterceptors>
                <spring:bean class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
                    <spring:constructor-arg>
                        <spring:map>
                            <spring:entry key="action" value="Signature" />
                            <spring:entry key="signatureUser" value="muleserver" />
                            <spring:entry key="passwordCallbackClass" value="org.mule.extension.ws.consumer.VerifyPasswordCallback" />
                            <spring:entry key="signaturePropRefId" value="serverOutSecurityProperties" />
                            <spring:entry key="serverOutSecurityProperties">
                                <spring:props>
                                    <spring:prop key="org.apache.ws.security.crypto.provider">org.apache.ws.security.components.crypto.Merlin</spring:prop>
                                    <spring:prop key="org.apache.ws.security.crypto.merlin.keystore.type">jks</spring:prop>
                                    <spring:prop key="org.apache.ws.security.crypto.merlin.keystore.password">mulepassword</spring:prop>
                                    <spring:prop key="org.apache.ws.security.crypto.merlin.keystore.private.password">mulepassword</spring:prop>
                                    <spring:prop key="org.apache.ws.security.crypto.merlin.keystore.alias">muleserver</spring:prop>
                                    <spring:prop key="org.apache.ws.security.crypto.merlin.keystore.file">security/serverKeystore</spring:prop>
                                </spring:props>
                            </spring:entry>
                        </spring:map>
                    </spring:constructor-arg>
                </spring:bean>
            </cxf:outInterceptors>
        </cxf:jaxws-service>
        <component class="org.mule.extension.ws.consumer.SimpleService"/>
    </flow>
</mule>
