tests/wsc/src/test/resources/config/noParams.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

    <http:listener-config name="httpConfig" host="localhost" port="${servicePort}"/>

    <wsc:config name="config">
        <wsc:connection wsdlLocation="http://localhost:${servicePort}/testService?wsdl" service="TestService" port="TestPort">
            <reconnect blocking="false"/>
        </wsc:connection>
    </wsc:config>

    <flow name="noParamsOperation">
        <wsc:consume config-ref="config" operation="noParams">
            <wsc:message body="#[payload]"/>
        </wsc:consume>
    </flow>

    <flow name="server">
        <http:listener path="testService" config-ref="httpConfig"/>
        <cxf:jaxws-service serviceClass="org.mule.extension.ws.consumer.SimpleService"/>
    </flow>
</mule>
